.login__form {
    width: 300px;
    padding-top: 150px;
    padding-bottom: 500px;
    padding-left: 20%;
    padding-right: 50%;
}

.signup__form {
    width: 300px;
    padding-top: 150px;
    padding-bottom: 500px;
    padding-left: 20%;
    padding-right: 50%;
}